.musicTable tr, table {
    text-align: center;
    border: 1px solid black !important;
}

.musicTable tr:hover {
    background-color: rgb(187, 186, 186);
}

button {
    margin-left: 10px !important;
}